html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Futura', 'Open Sans', sans-serif, -apple-system;
    /* --nav-width: 200px;
    margin: 0 0 0 var(--nav-width); */
    /* font-family: 'Quicksand', sans-serif; */
    height: 100%;

    background: #1c92d2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* Typography */
h3 {
    color: #767676
        /*  color:#b3bec9 */
}

/* Controls */

radio-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 18px;
    left: 30px;
    margin-right: 32px;
}

radio-button:focus {
    outline: none;
}

radio-button::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    position: absolute;
    left: -18px;
    top: 7px;
    border-radius: 50%;
}

radio-button:focus::before {
    box-shadow: 0 0 3px 3px #83BEFF;
}

radio-button[aria-checked="true"]::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    left: -18px;
    top: 7px;
    border-radius: 50%;
}